html,body{
	margin: 0;
	padding:0;
}
h1{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#outer{
	margin-left: auto;
    margin-right: auto;
    width: 200px;
}
select{
	width: 100%;
}
input{
	width:100%;
}
#status{
	background-color: red;
	text-align: center;
}